@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.right-header {
  align-self: flex-end;
  margin-top: 40px;
}

.left-header {
  align-self: flex-start;
  margin-left: 50px;
  margin-top: 40px;
}

select {
  border: none;
  font-size: 14px;
  color: #a1a1a1;
  margin-right: 40px;
}

main {
  background-color: #b1d9db;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

section.left-side {
  background-color: #b1d9db;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.left-side h1 {
  align-self: flex-start;
  margin-left: 50px;
  color: #fff;
  font-size: 26px;
  font-weight: 400;
  margin-top: 60px;
}

.position-img {
  transform: translate(150px, 0);
  background-color: transparent;
}

.left-side div img {
  align-self: flex-end;
  margin-top: 140px;
  transform: rotate(-7deg);
  background-color: transparent;
}

section.right-side {
  background-color: #fff;
  flex-grow: 4;
  border-radius: 65px 0 0 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.right-side h2 {
  font-size: 30px;
  font-weight: 600;
  margin-top: 40px;
}

.connect {
  border: solid 1px #eaeaea;
  background-color: #fff;
  margin-top: 20px;
  margin-right: 50px;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
}

.or {
  display: block;
  margin-top: 40px;
  text-align: center;
  font-size: 20px;
  color: #909090;
}

form {
  margin-top: 50px;
}

form input {
  border: none;
  display: block;
  border-bottom: solid 1px #eaeaea;
  padding: 20px 0 10px 0;
  font-size: 18px;
  width: 100%;
}

.create-btn {
  display: block;
  width: 100%;
  border-radius: 10px;
  background-color: #7cd2d7;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border: none;
  margin: 40px 0px 0 0px;

  padding: 10px 20px;
}

.login {
  display: inline-block;
  font-size: 17px;
  font-weight: 400;
  color: #a0a0a0;
  margin-top: 15px;
}

.log {
  color: #7cd2d7;
}

@media only screen and (max-width: 1350px) {
  .position-img {
    transform: translate(80px, 0);
    background-color: transparent;
  }
}

@media only screen and (max-width: 1210px) {
  .position-img {
    transform: translate(40px, 0);
    background-color: transparent;
  }
}

@media only screen and (max-width: 1113px) {
  .position-img {
    background-color: transparent;
    margin: auto;
  }

  .left-side div img {
    margin-top: 0px;
  }
  .left-side h1 {
    align-self: center;
    color: #fff;
    font-size: 26px;
    font-weight: 400;
    margin-top: 60px;
  }

  section.right-side {
    border-radius: 0;
  }
}

@media only screen and (max-width: 768px) {
  .position-img {
    overflow: hidden;
    margin: auto;
    transform: translate(0, 0);
  }

  .connect {
    font-size: 12px;
  }

  .or {
    font-size: 15px;
  }

  form input {
    font-size: 14px;
  }

  .create-btn {
    font-size: 14px;
  }

  .login {
    font-size: 13px;
  }

  .left-side div img {
    align-self: center;
    margin-top: 140px;
    transform: rotate(0);
    background-color: transparent;
  }
}

@media only screen and (max-width: 554px) {
  .left-side div img {
    display: none;
  }

  section.left-side {
    height: 30vh;
  }

  .left-side h1 {
    align-self: center;
    font-size: 20px;
    font-weight: 500;
    margin-top: 40px;
  }

  .right-side h2 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 40px;
  }
}

@media only screen and (max-width: 482px) {
  .right-side h2 {
    margin-top: 40px;
    margin-left: 20px;
  }

  .connect {
    border: solid 1px #eaeaea;
    background-color: #fff;
    margin-top: 20px;
    margin-right: 20px;
    padding: 8px;
    border-radius: 5px;
    font-size: 10px;
  }

  section.right-side {
    height: 60vh;
  }
}
